dcss:
    host: dataserver3.bl831.als.lbl.gov
    port: 14242
loopdhs:
    automl:
        host: voltron.bl831.als.lbl.gov
        port: 5000
    axis:
        host: axis6.bl831.als.lbl.gov
        port: 80
        camera: 1
    jpeg_receiver:
        port: 9000
    save_image_files: False
    image_save_dir: JPEGS/
